# Python
__pycache__/
*.py[cod]
*.pkl
*.egg-info/
venv/
env/
*.log
.ipynb_checkpoints/
.env

# Data & Models
data/*.zip
data/*.csv
models/*.h5
models/*.pt
models/*.pkl

# Node / Frontend (future)
node_modules/
npm-debug.log*
frontend/.next/
frontend/out/

# VS Code / Codespaces
.vscode/
.devcontainer/

# OS
.DS_Store
Thumbs.db